.home{
    .features{ 
        background-color: #f1fdf7;
        display: flex;
        justify-content: center;
        padding: 100px 0;  
 
    &.dark{ 
        background-color: #0d084d;
        color: white; 

        h1{
            color: white !important;
        } 
        p{
            color: white !important;
            margin-bottom: 20px !important;
        }

        .title{
            color: white !important;
            font-weight: 300 !important;
            font-size: 14px !important;
            letter-spacing: 1px;
        }

        img{
            width: 100%;
        } 

        button{
            background-color: #1dbf73;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            margin-top: 20px;
            width: max-content;
        }

    } 
        .container{
            display: flex;
            align-items: center;
            width: 1400px; 
            // border: 2px solid black;
            gap: 200px;
            .item{  
                display: flex;
                flex-direction: column;
                gap: 15px; 
                &:first-child{ 
                    flex: 2;
                    // background-color: black;
                }  
                &:last-child{
                    flex: 3;
                    // border: 2px solid black;
                    // background-color: black;
                }  
                h1{
                    font-weight: 500;
                    margin-bottom: 10px;
                } 
                p{
                    font-size: 16px;
                    font-weight: 300;
                    color: gray;
                    line-height: 25px;
                    letter-spacing: 1px;
                }
                .title{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-weight: 500;
                    font-size: 16px;
                    color: gray;

                    img{
                        width: 24px;
                        height: 24px;
                    }
                }  
                video{
                    width: 720px;
                }
            }
        }
    }
}