.slide{ 
    display: flex;
    justify-content: center;
    padding: 100px 0; 
    .container{
        width: 1400px;
    }

    .carousel-prev,.carousel-next{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: rgb(230, 228, 228);
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}
